@tailwind base;
@tailwind components;
@tailwind utilities;

.carouselItem {
  padding-right: 20px;
}

.top {
  position: relative;
}
.btn-rounded {
  border: 1px solid;
  background-color: greenyellow;
  border-radius: 12px;
  padding: 4px 16px;
}
.upload-profile-picture-container {
  width: 100%;
  display: flex;
  gap: 16px;
  padding: 32px;
  margin-top: 30px;
  border: 1px dashed #b3b3b3;
  border-radius: 8px;
}
.upload-profile-picture-container img {
  width: 128px;
  height: 128px;
}
.upload-profile-picture-container p {
  margin-top: 13px;
}
.upload-profile-picture-container p.text-muted {
  margin-top: 4px;
  margin-bottom: 16px;
}
.input-section {
  padding: 30px;
  border: 1px solid #e4e0d9;
  border-radius: 8px;
  box-shadow: 0px 1px 2px 0px rgba(46, 46, 45, 0.1);
}
.sidebar {
  width: 250px;
  border-right: 1px solid #ccc;
  padding: 24px 16px 0px 16px;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  float: left;
  min-height: 100vh;
}
.subject-nav-list {
  list-style: none;
}
.subject-nav-form {
  margin-top: 24px;
  margin-left: 16px;
  margin-right: 16px;
}
.subject-nav-list li {
  margin-bottom: 8px;
}
.nav-link a.active {
  background-color: var(--primary-color);
  text-decoration: none;
  color: #ffffff;
}
.nav-link a:hover {
  background-color: #005e8f;
  color: #ffffff;
}
.nav-link a:hover img,
.nav-link a.active img {
  filter: brightness(0) invert(1);
}
.subject-nav-list li img {
  vertical-align: middle;
  margin-right: 8px;
}
.subject-nav-list li h6 {
  display: inline-block;
  vertical-align: middle;
}
